* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(181, 181, 196, 0.36) url("../images/background.jpg") no-repeat center center/cover;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    color: white;
}

.center-text {
    text-align: center;
}

#start-area {
    max-width: 700px;
    border: 2px solid #000000;
    background-color: rgb(38, 38, 38, .9);
    position: relative;
    top: 20%;
    margin: auto;
    padding: 30px;
}

#start-area h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 200%;
    padding-bottom: 20px;
    text-transform: uppercase;
}

#start-area p {
    letter-spacing: 2px;
    font-size: 110%;
    font-weight: bold;
    padding: 5px;
}

.username-label {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 150%;
    font-weight: bold;
}

#username {
    font-size: 1.5rem;
    width: 300px;
    height: 40px;
    margin: 10px;
}

.btn {
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
}

.option {
    font-weight: 500;
    width: 50%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: bisque;
    display: grid;
}

.option:hover {
    background: #000000;
    color: white;
}

#continue {
    font-weight: 500;
    width: 20%;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: block;
}

#answer-options {
    width: 75%;
    padding-left: 25%;
}